.highlight {
    font-weight: bold;
    border: 3px solid white;  /* Square red border */
    border-radius: 7px;       /* Ensure no border-radius for square corners */
}

.logo-icon {
    width: 50px; /* Adjust the size as necessary */
    height: auto;
    margin-right: 10px; /* Adds space between the icon and the text */
}
@media (max-width: 767px) {
    .logo-icon {
      width: 50px; /* Adjust logo size on mobile */
    }
    
    .nav-link {
      padding: 0.5rem; /* Make navigation links more compact */
    }
  }
  