/* Header styling */


.container {
  padding-top: 100px; 
}

/* Logo icon styling */
.logo-icon {
  width: 50px; /* Size of the logo */
  height: auto;
  margin-right: 10px; /* Space between the logo and text */
}

/* Navigation styling */
.nav {
  margin-bottom: 0;
}

.nav-link {
  padding: 0.5rem; 
}


.highlight {
  font-weight: bold;
  border: 3px solid white;
  border-radius: 7px; 
}


@media (max-width: 767px) {
  .logo-icon {
      width: 40px; 
  }
  
  .nav-link {
      padding: 0.5rem; /* Compact navigation links on mobile */
  }
}