<div style="margin-bottom: 100px;"   [ngClass]="isDarkMode ? 'bg-dark shadow bg-light  p-3 d-flex align-items-center justify-content-between flex-wrap mb-3'  : 'bg-light shadow  p-3 d-flex align-items-center justify-content-between flex-wrap mb-3'">
  <!-- Logo Section -->
  <a class="logo fw-100 fs-20 mb-2 mb-md-0" [ngStyle]="logoStyles" routerLink="/user-dashboard">
    <img src="assets/images/200w.gif" alt="FilmFinder Icon" class="logo-icon">
    {{ appName | uppercase }}
  </a>

  <!-- Navigation Section -->
  <ul class="nav justify-content-end flex-column flex-md-row align-items-center">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="isDarkMode ? textColorWhite : textColorDark" routerLink="/user-dashboard" routerLinkActive="highlight" [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="isDarkMode ? textColorWhite : textColorDark" routerLink="/user-dashboard/upcomingmovies" routerLinkActive="highlight" aria-current="page">Upcoming Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="isDarkMode ? textColorWhite : textColorDark" routerLink="/user-dashboard/watchlist" routerLinkActive="highlight" aria-current="page">Watchlist</a>
    </li>
    <li class="nav-item">
      <button class="nav-link btn btn-link" (click)="signout()" [ngClass]="isDarkMode ? textColorWhite : textColorDark">Sign Out</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-sm btn-outline-secondary" (click)="toggleDarkMode()">
        <i class="bi p-1" [ngClass]="isDarkMode ? 'bi-sun' : 'bi-moon'"></i>
      </button>
    </li>
  </ul>
</div>