<app-adminheader></app-adminheader>
<div class="movie-container d-flex flex-column flex-md-row p-2 align-items-center">
  <div class="movieForm">
    <div class="image-upload-container p-4 d-flex flex-column align-items-center">
      <img
        [src]="moviePicture || '../../../../../assets/images/icongif.gif'"
        alt="User Icon"
        class="user-icon "
        (click)="fileInput.click()"
      />
      <small> * click on above icon to upload Movie Picture</small>
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        #fileInput
        style="display: none;"
      />
    </div>


  <mat-card class="movie-form-card p-4 col-6 d-flex flex-column gap-2 align-items-center justify-content-center">
    <mat-card-title>Update Movie Form</mat-card-title>

    <form   [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      

      <mat-form-field appearance="outline">
        <mat-label>Moview Name</mat-label>
        <input matInput formControlName="movieName" />
        <mat-error *ngIf="movieForm.controls['movieName'].invalid && (movieForm.controls['movieName'].dirty || movieForm.controls['movieName'].touched)">
          <ng-container *ngIf="movieForm.controls['movieName'].errors?.['required']">movie Name is required.</ng-container>
        </mat-error>
      </mat-form-field>

      
      <mat-form-field appearance="outline">
        <mat-label>Director Name</mat-label>
        <input matInput formControlName="directorName" />
        <mat-error *ngIf="movieForm.controls['directorName'].invalid && (movieForm.controls['directorName'].dirty || movieForm.controls['directorName'].touched)">
          <ng-container *ngIf="movieForm.controls['directorName'].errors?.['required']">director Name is required.</ng-container>
        </mat-error>
      </mat-form-field>


      
      <mat-form-field appearance="outline">
        <mat-label>Release Date</mat-label>
        <input matInput formControlName="releaseDate" type="date" />
        <mat-error *ngIf="movieForm.controls['releaseDate'].invalid && (movieForm.controls['releaseDate'].dirty || movieForm.controls['releaseDate'].touched)">
          <ng-container *ngIf="movieForm.controls['releaseDate'].errors?.['required']">Release Date  is required.</ng-container>
        </mat-error>
      </mat-form-field>

      <div class="d-flex gap-5">

               <mat-form-field appearance="outline">
        <mat-label>Add  cast</mat-label>
        <input matInput formControlName="cast" />  
      </mat-form-field>
         <button mat-raised-button type="button" color="primary" (click)="addCast()">+</button></div>

            <div class="d-flex gap-5">

               <mat-form-field appearance="outline">
        <mat-label>Add  Genre</mat-label>
        <input matInput formControlName="genre" />  
      </mat-form-field>
         <button mat-raised-button type="button" color="primary" (click)="addGenre()">+</button></div>
  

<mat-form-field appearance="outline">

    <mat-label>Synopsis</mat-label>
    <textarea matInput formControlName="synopsis" placeholder='enter movie synopsis'> enter movie synopsis</textarea>
         <mat-error *ngIf="(movieForm.controls['synopsis'].dirty || movieForm.controls['synopsis'].touched)">
          <ng-container *ngIf="movieForm.controls['synopsis'].errors?.['required']">synopsis  is required.</ng-container>
        </mat-error>

    </mat-form-field>

    
    <mat-form-field appearance="outline">

    <mat-label>Duration</mat-label>
    <textarea matInput formControlName="duration" placeholder='enter movie duration'> enter movie duration</textarea>
         <mat-error *ngIf="(movieForm.controls['duration'].dirty || movieForm.controls['duration'].touched)">
          <ng-container *ngIf="movieForm.controls['duration'].errors?.['duration']">duration  is required.</ng-container>
        </mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">

    <mat-label>Language</mat-label>
    <textarea matInput formControlName="language" placeholder='enter movie language'> enter movie synopsis</textarea>
         <mat-error *ngIf="(movieForm.controls['language'].dirty || movieForm.controls['language'].touched)">
          <ng-container *ngIf="movieForm.controls['language'].errors?.['required']">language  is required.</ng-container>
        </mat-error>

    </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit" >Update Movie</button>
    </form>


  </mat-card>
  </div>
</div>
