<app-userheader></app-userheader>

<div class="container my-5">
  <!-- <h2 class="mb-4">Movie Review Form</h2> -->
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="movieTitle" class="form-label">Movie Title</label>
      <input type="text" class="form-control" id="movieTitle" formControlName="movieTitle">
    </div>

    <div class="mb-3">
      <label for="reviewerName" class="form-label">Your Name</label>
      <input type="text" class="form-control" id="reviewerName" formControlName="reviewerName">
    </div>

    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of stars">
          <i class="bi"
            [ngClass]="{
              'bi-star-fill': reviewForm.get('rating')?.value >= star,
              'bi-star': reviewForm.get('rating')?.value <star
            }"
            (click)="setRating(star)">
          </i>
        </ng-container>
      </div>
    </div>

    <div class="mb-3">
      <label for="reviewText" class="form-label">Your Review</label>
      <textarea class="form-control" id="reviewText" formControlName="reviewText" rows="4" placeholder="Enter your review here"></textarea>
    </div>

    <div class="mb-3">
      <label for="reviewDate" class="form-label">Review Date</label>
      <input type="date" class="form-control" id="reviewDate" formControlName="reviewDate">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="reviewForm.invalid">Submit Review</button>
  </form>
</div>