<app-userheader></app-userheader>

<div class="container my-5">
    <h2 class="mb-4">Movie Review Form</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label for="movieTitle" class="form-label">Movie Title</label>
        <input type="text" class="form-control"  id="movieTitle" formControlName="movieTitle" >
      </div>
    
      <div class="mb-3">
        <label for="reviewerName" class="form-label">Your Name</label>
        <input type="text" class="form-control"  id="reviewerName" formControlName="reviewerName" >
      </div>
    
      <div class="mb-3">
        <label class="form-label">Rating</label>
        <div class="star-rating">
          <label *ngFor="let star of stars">
            <input type="radio" [value]="star.value" formControlName="rating">
            <span>{{ star.label }}</span>
          </label>
        </div>
      </div>
    
      <div class="mb-3">
        <label for="reviewText" class="form-label">Your Review</label>
        <textarea class="form-control" id="reviewText" formControlName="reviewText" rows="4" ></textarea>
      </div>
    
      <div class="mb-3">
        <label for="reviewDate" class="form-label">Review Date</label>
        <input type="date" class="form-control" id="reviewDate" formControlName="reviewDate" >
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!((reviewForm.get('movieTitle')?.value) && (reviewForm.get('reviewerName')?.value)  && (reviewForm.get('rating')?.value)) ">Submit Review</button>
    </form>
  </div>
  

  
