<app-userheader></app-userheader>

<div class="movie-info-container container-fluid">
    <!-- Movie Image -->
    <div class="movie-image">
        <img src="assets\images\image1.jpg" alt="{{ movie.name }} Poster">
    </div>
  
    <!-- Movie Details -->
    <div class="movie-details">
        <h1 class="movie-title">{{ movie.name }}</h1>
        <p class="movie-genre"><strong>Genre:</strong> {{ movie.genre }}</p>
        <hr>
        <p class="movie-rating"><strong>IMDb Rating:</strong> {{ movie.imdbRating }}</p>
        <hr>
        <p class="movie-cast"><strong>Cast:</strong> {{ movie.cast.join(', ') }}</p>
        <hr>
        <p class="movie-release-date"><strong>Release Date:</strong> {{ movie.releaseDate }}</p>
        <hr>
        <p class="movie-director"><strong>Director:</strong> {{ movie.director }}</p>
        <hr>
        <p class="movie-duration"><strong>Duration:</strong> {{ movie.duration }}</p>
        <hr>
        <p class="movie-language"><strong>Language:</strong> {{ movie.language }}</p>
        <hr>
        
        
    </div>
  </div>
  
  <!-- Movie Summary Section -->
  <div class="movie-summary-container">
    <h3 class="movie-summary-title">Summary</h3>
    <h6 class="movie-summary">{{ movie.summary }}</h6>
    <button class="btn btn-primary" (click)="addReview()">Add Review</button>
  </div>