/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
}

.login-image {
    flex: 1;
}

.login-card {
    flex: 2;
    padding: 16px;
    max-width: 400px;
    width: 100%;
}

.register-link {
    margin-top: 16px;
    text-align: center;
}