/* user-dashboard.component.css */
body {
    font-family: Arial, sans-serif;
}

.main-movie-details {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-container {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-container h5, .main-movie-details h2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.movie-container button, .main-movie-details button {
    margin-top: 5px;
}
