/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-toast-position {
  background-color: #323232;   /* Dark background */
  color: #fff;                           
  border-radius: 8px;          /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  font-family: 'Arial', sans-serif; /* Font */
  font-size: 16px;
  bottom: 50px !important;
  right:100px !important;
  display: flex;                 /* Ensure flexbox for alignment */
  justify-content: space-between; /* Spread content between text and button */
  align-items: center;
  }

  .toast-success {
    background-color: #28a745 !important;
    color: white;
    padding:20px;
    align-items: center;
    width:400px;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
  }

  .toast-error {
    background-color: red !important;
    color: white;
    padding:20px;
    align-items: center;
    width:400px;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
  }